annotated-types==0.7.0
blis==0.7.11
catalogue==2.0.10
certifi==2025.8.3
charset-normalizer==3.4.2
click==8.1.8
cloudpathlib==0.16.0
confection==0.1.5
cymem==2.0.11
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
Flask==2.2.5
gunicorn==23.0.0
idna==3.10
importlib-metadata==8.7.0
itsdangerous==2.2.0
jinja2==3.1.6
langcodes==3.5.0
language-data==1.3.0
marisa-trie==1.2.1
MarkupSafe==3.0.2
murmurhash==1.0.13
numpy==1.26.4
packaging==25.0
preshed==3.0.10
pydantic==2.11.7
pydantic-core==2.33.2
requests==2.32.4
smart-open==6.4.0
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
thinc==8.2.5
tqdm==4.67.1
typer==0.4.2
typing-extensions==4.14.1
typing-inspection==0.4.1
urllib3==2.5.0
wasabi==1.1.3
weasel==0.3.4
werkzeug==3.1.3
zipp==3.23.0
